<!DOCTYPE html>
<html>
<head>
    <title>Pantry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="navbar">
    <a href="/">🏠 Home</a>
    <a href="/pantry">📦 Pantry</a>
    <a href="/recipes">🍲 Recipes</a>
    <a href="/nutrition">📊 Nutrition</a>
    <a href="/shopping">🛒 Shopping</a>
</nav>
<div class="container">
    <a href="/recipes" class="btn">View Recipes 🍲</a>

    <h1>🧺 Pantry Items</h1>
    <p class="subtitle">Your current kitchen inventory</p>

    <table>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Purchase Date</th>
            <th>Action</th>
            <th>Risk</th>
            <th>Alert</th>
        </tr>

        {% for item in items %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
            <td>
                <a href="/delete/{{ item[0] }}" class="delete-btn">🗑️ </a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <br><br>
    <a href="/" class="link-btn">⬅ Back to Upload</a>

</div>

</body>
</html>