<!DOCTYPE html>
<html>
<head>
    <title>Smart Kitchen System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
    <a href="/">🏠 Home</a>
    <a href="/pantry">📦 Pantry</a>
    <a href="/recipes">🍲 Recipes</a>
    <a href="/nutrition">📊 Nutrition</a>
    <a href="/shopping">🛒 Shopping</a>
</nav>

<div class="container">

    <h1>🍽️ Smart Kitchen System</h1>
    <p class="subtitle">Upload your monthly grocery file</p>

    <div class="card">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <br><br>
            <button type="submit">Upload File</button>
        </form>
    </div>

    <a href="/pantry" class="link-btn">View Pantry</a>

</div>

</body>
</html>